<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h3 th:text="${model.title}"></h3>
<div>
    <a href="user/form.html" th:href="@{/user/form}">创建用户</a>
</div>
<table border="1" >
    <thead>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>EMAIL</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${model.users.size()} eq 0">
        <td colspan="3">没有用户信息</td>
    </tr>
        <tr th:each="user : ${model.users}">
            <td th:text="${user.id}"></td>
            <td ><a th:href="@{'/user/'+${user.id}}" th:text="${user.name}"/></td>
            <td th:text="${user.email}"></td>
        </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>