<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="/u/waylau" title="waylau">
			                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="/u/waylau/blogs/1" class="card-link" title="waylau">
                            OAuth 2.0 认证的原理与实践
                        </a></h2>
                    <p class="card-text">使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍
                        OAuth 2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
                    <div class="card-text">
                        <a href="/u/waylau" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">210</i>
                        <i class="fa fa-heart-o" aria-hidden="true">10</i> <i class="fa fa-comment-o"
                                                                              aria-hidden="true">110</i>
                    </div>
                </div>
            </div>
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card mb-4" th:each="blog : ${blogList}">
                        <div class="card-block">
                            <h2 class="card-title">
                                <span>
				                  <a href="/u/waylau" title="waylau" th:href="'/space/' + ${blog.username}"  th:title="${blog.username}">
				                    <img src="/images/avatar-defualt.jpg" th:src="${blog.avatar} == null ? '/images/avatar-defualt.jpg' : ${blog.avatar}"  class="blog-avatar-50">
				                  </a>
						        </span>
                                <a href="/u/waylau/blogs/1" class="card-link" title="waylau"
                                   th:href="'/space/' + ${blog.user.username} + '/blogs/'+ ${blog.id}"  th:title="${blog.user.username}" th:text="${blog.title}">
                                    OAuth 2.0 认证的原理与实践
                                </a>
                            </h2>
                            <p class="card-text" th:text="${blog.summary}">使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍
                                OAuth 2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
                            <div class="card-text">
                                <a href="/u/waylau" th:href="'/space/' + ${blog.user.username}" class="card-link" th:text="${blog.user.username}">waylau</a>发表于 [[${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}]] <i class="fa fa-eye" aria-hidden="true">[[${blog.readSize}]]</i>
                                <i class="fa fa-heart-o" aria-hidden="true">[[${blog.voteSize}]]</i> <i class="fa fa-comment-o"
                                                                                                        aria-hidden="true">[[${blog.commentSize}]]</i>
                            </div>
                        </div>
                    </div>

                    <!--<div th:replace="~{fragments/page :: page}">...</div>-->
                </div>
            </div>



            <!-- Pagination -->

        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
                <!-- 热门标签 -->
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门用户 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门用户</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
									<span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                                <span>
					                  <a href="/u/waylau" title="waylau">
					                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                             alt="waylau">
					                  </a>
					                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门文章 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>

                    <ul class="list-group">
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            Spring Data + Thymeleaf 3 + Bootstrap 4 实现分页器<span class="badge badge-danger badge-pill">11115</span>
                        </a>
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            用大白话聊聊分布式系统<span class="badge badge-warning badge-pill">338</span>
                        </a>
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            用大白话聊聊分布式系统<span class="badge badge-info badge-pill">289</span>
                        </a>
                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            使用 Eclipse Checkstyle Plugin<span class="badge badge-default badge-pill">189</span>
                        </a>

                        <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                            使用 Eclipse Checkstyle Plugin<span class="badge badge-default badge-pill">189</span>
                        </a>
                    </ul>

                </div>

                <!-- 最新发布 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
                    <div class="list-group">
                        <ul class="list-group">
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                Spring Data + Thymeleaf 3 + Bootstrap 4 实现分页器
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                用大白话聊聊分布式系统
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                用大白话聊聊分布式系统>
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                使用 Eclipse Checkstyle Plugin
                            </a>

                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                使用 Eclipse Checkstyle Plugin
                            </a>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>